{% extends 'layout.html' %}

{% block title %}Search{% endblock %}

{% block content %}

<div style="background-color: white;margin-top: 0;margin-bottom: 0;">

<h2>Search Results</h2>

    <form action="{{ url_for("home") }}" method="post">
        <p><input type="text" id="searchBar" name="searchBar" placeholder="Search for Movie"></p>
        <p><input type="submit" name="submit" /></p>
    </form>

<table>
    {% for movie in movieResults %}
        <tr>
            <td>
                {{ movie[0] }}
            </td>
            <td>
                {{ movie[1] }}
            </td>
            <td>
                {{ movie[2] }}
            </td>
            <td>
                {% if movie[0] in viewed %}
                    <a href="{{ url_for('viewed', movie=movie[0]) }}">seen</a>
                {% else %}
                    <a href="{{ url_for('viewed', movie=movie[0]) }}">not seen</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>

</div>

{% endblock %}